@media screen and (min-width: 768px) {
  header {
    height: 80px;
    padding: 20px 5vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 36px;
      height: 36px;
    }
  }

  .menu {
    input,
    span {
      display: none;
    }

    ul {
      position: static;
      background: transparent;
      height: auto;
      opacity: 1;
    }

    li {
      padding: 5px 10px;
      display: inline-block;
    }
    a {
      padding: 0;
      line-height: 1;
      color: #060a24;
      pointer-events: auto;
      display: block;
      &:hover:not(.active) {
        color: #00f3bb;
      }
      &.active {
        color: rgba(6, 10, 36, 0.56);
      }
    }
  }

  #header {
    p {
      display: block;
      width: 50vw;
    }
  }

  h1.title {
    font-size: 64px;
  }

  .btn {
    display: inline-block;
  }

  .container {
    padding: 0 10vw;
  }

  .polygon-episodes {
    clip-path: polygon(0 10vh, 100% 0%, 100% 90vh, 0% 100%);
    padding: 50px 1rem;
  }

  .diagonal-footer {
    clip-path: polygon(0 10vh, 100% 0%, 100% 100%, 0% 100%);
    padding: 10vh 1rem;
    text-align: center;
  }

  #episodios,
  #nosotros,
  #entrevistas,
  footer {
    display: flex;
    flex-wrap: wrap;
  }

  #episodios {
    padding: 20vh 1vh;
    .flex-container div {
      flex-basis: 50%;
    }
    h2 {
      flex-basis: 100%;
    }
    div {
      flex-basis: 50%;
    }
  }

  #nosotros {
    align-items: center;
    padding: 0px 15vw;
    margin-top: -10vh;
    margin-bottom: 5vh;
    div {
      flex-basis: 50%;
      img {
        margin-top: 0;
      }
    }
  }

  #entrevistas {
    margin-bottom: 10vh;
    h2 {
      padding: 0 20vh;
      flex-basis: 100%;
    }
    div {
      flex-basis: 33.33%;
    }
  }

  #topicos {
    margin-bottom: 10vh;
    h2 {
      padding: 0 20vh;
    }
  }

  footer {
    justify-content: space-between;
    align-items: center;
    padding: 30px 10vw;
    ul {
      li {
        padding: 10px;
      }
    }
  }
}
